
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: auto;
  position: relative;
}
/*==========PAGE INDEX==============*/
.menu {
  width: 100%;
  height: 80px;
  display: grid;
  position: relative;
  grid-template-columns: 0.25fr 1fr;
  background-color: black;
}
.img_logo {
  margin: 27px 0px 26.1px 231px;
}

.menu_links {
  display: flex;
  align-content: center;
  align-items: center;
  margin-left: 122.4px;
  word-spacing: 30px;
}

.menu_links header {
width: 100%;
}

.menu_links header, .menu_links header nav.primary {

  display: flex;
  justify-content: space-around;
}

.menu_links header nav.primary {
  top: 0;
} 

.menu_links header nav.primary ul li {
  list-style-type: none;
}
.menu_links a,
.menu_links form button {
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  text-decoration: none;
}

.menu_links form button {
  background-color: #000000;
  cursor: pointer;
}

.not-found {
  width: 600px;
  height: 200px;
  margin: 19vh auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
}

#status {
  font-size: 42px;
  font-weight: 800;
}

#warning {
  font-size: 22px;
  font-weight: 200;
}

#feedback {
  font-size: 18px;
  font-weight: 600;
}
.rectangle {
  width: 940px;
  height: 366px;
  background-color: #fbdfdb;
  border-radius: 30px;
  margin: 30px 230px 30px 230px;
  position: relative;
}

.rectangle_img_chef {
  width: 216px;
  height: 300px;
  position: absolute;
  margin: 66px 100px 0px 624px;
}

.rectangle_title {
  width: 305px;
  height: 38px;
  position: absolute;
  margin: 117px 575px 211px 60px;
  font-weight: bold;
  font-size: 32px;
  color: #111111;
  line-height: 38px;
}

.rectangle_info {
  width: 316px;
  height: 84px;
  position: absolute;
  margin: 165px 564px 117px 60px;
  color: #000000;
  opacity: 0.7;
  font-size: 18px;
  line-height: 28px;
}

/*==============CARDS=============*/

.cards_recipes {
  width: max-content;
  display: grid;
  grid-template-columns: 172px 1fr 172px 1fr;
  position: relative;
  margin: 0px 230px 30px;
  gap: 20px;
}

.cards_recipes_home {
  width: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: inherit;
  margin: 0px 230px 30px;
  gap: 20px;
}

.cards a {
  text-decoration: none;
}

.link-view:hover {
  box-shadow: 30px 30px 30px #7777;
  border-radius: 15px;
  height: 101%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.img_recipe,
.card_link1 {
  width: 172px;
  height: 80px;
  margin-right: 0;
}

.img_recipe img {
  width: 172px;
  height: 80px;
  border-radius: 15px;
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.img_recipe_home img {
  width: 300px;
  height: 142px;
  border-radius: 15px;
  display: block;
  margin: 0px auto;
  margin-bottom: 15px;
  max-width: 100%;
}

.title_recipe p {
  width: 250px;
  height: 21px;
  text-align: left;
  font-size: 18px;
  color: #111111;
  line-height: 21px;
}

.author_recipe p {
  width: auto;
  height: auto;
  margin: 5px 0px 10px 0px;
  color: #777777;
  font-size: 14px;
  line-height: 16px;
}

.container_cards_chefs {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px 230px;
  margin-bottom: 155px;
  gap: 61px;
}

.cards_chefs img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}
.chef {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.chef_info {
  margin-left: 20px;
  width: 130px;
}
.chef_info p {
  margin-bottom: 10px;
  margin-top: 5px;
}

.chef_info a {
  text-decoration: none;
}
/*===============CARD==============*/

.card_recipe {
  position: relative;
  display: grid;
  grid-template-rows: repeat(10, 0.1fr);
  margin-top: 55px;
}

.highlight img {
  width: 940px;
  height: 230px;
  position: relative;
  border-radius: 15px;
  object-fit: cover;
  cursor: zoom-in;
}

 .gallery-preview {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  height: 100px;
  width: 100%;
  position: relative;
}

.gallery-preview img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  opacity: 0.6;
  cursor: pointer;
  transition: 600ms;
}

.gallery-preview img:hover,
.gallery-preview img.active {
  opacity: 1;
}

.highlight .lightbox-target {
position: fixed;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, .7);
top: -100%;
left: 0;
border-radius: 15px;
overflow: hidden;
z-index: 100;
opacity: 0;

transition: opacity 0,4s
}

.highlight .lightbox-target img {
  margin: auto;

  position: absolute;
  top:0;

  left: 0;
  bottom: 0;
  right: 0;

  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
  object-fit: contain;
}

.highlight .lightbox-target a.lightbox-close {
width: 50px;
height: 50px;

background: white;

position: absolute;
top: -80%;
right: 0;

display: flex;
align-items: center;
justify-content: center;

transition: 400ms;
}
.title_recipe_id,
.author_recipe_id,
.grid_recipe_id,
.name_chef_id {
  display: flex;
  width: 940px;
}
.title_recipe_id p {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  font-weight: 800;
  color: #111111;
}

.name_chef_id p {
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  font-weight: 800;
  color: #111111;
}

.author_recipe_id p,
.total_recipes_chef_id p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 41px;
  font-size: 20px;
  color: #777777;
}

.total_recipes_chef_id p {
  font-size: 20px;
  text-align: center;
  color: #777777;
  margin-top: 46px;
}

.grid_recipe_id {
  display: -webkit-inline-box;
  -webkit-box-align: baseline;
}

.subtitles_recipe_id,
.subtitles_chef_id {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

h4 {
  width: 61px;
  height: 14px;
  margin: 0 965px 20px 8px;
  font-size: 12px;
  color: #999999;
  cursor: pointer;
}

.ingredients,
.preparation,
.information {
  width: 940px;
  margin-bottom: 41px;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  text-align: justify;
}
.ingredients_recipe_id p {
  width: 940px;
  height: 196px;
  margin: 0 230px 39px;
  font-size: 18px;
  color: #444444;
}

/*================HIDE INFOS==============*/

.ingredients.hidden,
.preparation.hidden,
.information.hidden {
  display: none;
}

/*================FOOTER================*/

.footer {
  background-color: #eeeeee;
  margin-top: auto;
  width: 100%;
}

.footer p {
  font-size: 14px;
    color: #999999;
    text-align: center;
    padding: 25px 0;
  
}

/*=============PAGE ABOUT=============*/

.about_foodfy_title {
  width: 164px;
  height: 28px;
  margin: 50px 0 20px 230px;
  color: #111111;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

.about_foodfy_info {
  width: 940px;
  height: 280px;
  margin: 0 230px 0 230px;
  color: #444444;
  font-size: 18px;
  line-height: 28px;
}

.how_all_begining_title {
  width: 203px;
  height: 24px;
  margin: 30px 0 20px 230px;
  color: #111111;
  font-size: 20px;
  line-height: 24px;
}

.how_all_begining_info {
  width: 940px;
  height: 280px;
  margin: 0 230px 0 230px;
  color: #444444;
  font-size: 18px;
  line-height: 28px;
}

.our_recipe_title {
  width: 145px;
  height: 24px;
  margin: 30px 0 20px 230px;
  font-size: 20px;
  color: #111111;
  line-height: 24px;
}

.our_recipe_info {
  width: 940px;
  height: 112px;
  margin: 0 230px 50px 230px;
  color: #444444;
  font-size: 18px;
  line-height: 28px;
}
