{% extends "layout.njk" %}

{% block content %}

  <div class="not-found">
    <p id="status">404</p>
    <p id="warning">
      :( Poxa que chato... mas esta página não existe em nossos servidores.</p>
    <p id="feedback">
      :) Ficaríamos muito felizes se você enviar um feedback, clicando<a href="mailto:dimasdevspro@gmail.com"> aqui.</a>
    </p>

  </div>
<script src="/scripts.js"></script>
{% endblock %}