{% macro, recipes(title, author, path, filename, recipes_id)%}
  <section class="cards_recipes">
    {% for recipe in recipes %}
      <section class="card_link1">
        <div class="img_recipe">
          <img src="{{recipe.path}}" alt="{{recipe.filename}}"/>
        </div>
      </section>
      <section class="card_link2">
        <div class="title_recipe">
          <p>{{recipe.title}}</p>
        </div>
        <div class="author_recipe">
          <p>por {{recipe.author}}</p>
        </div>
        <a href="/recipes/{{recipe.recipes_id}}" class="link-view">Visualizar</a>
      </section>
    {% endfor %}
  </section>
{% endmacro %}

